.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "" !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "" !important;
}

/* .swiper-button-next,
.swiper-button-prev {
  font-size: 33px;
} */

.swiper-button-next,
.swiper-button-prev {
  position: relative;
  margin-top: 0;
  width: 50px;
  height: 50px;
}

.swiper-button-next::before,
.swiper-button-prev::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 2px;
  background: linear-gradient(to right, #035D9D, #03388F);
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: inline-block;
  width: 10%;
  position: static;
}
.testimonials-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-image: linear-gradient(to right, #035D9D, #03388F);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.testimonials-pagination .swiper-pagination-bullet-active {
  background-image: linear-gradient(to right, #035D9D, #03388F);
  transform: scale(1.3);
}

.testimonialSlider .swiper-slide {
  transition: transform 0.9s ease-in-out, opacity 0.9s ease-in-out; /* Define smooth transition for transform and opacity */
  transform: scale(0.82) translateX(-16%) translateY(-10%) !important;
  opacity: 0.6;
  
}

.testimonialSlider .swiper-slide-active {
  transform: scale(0.98) translateX(5%) translateY(0) !important; /* Active slide is bigger and centered */
  opacity: 1;
}

.testimonialSlider .swiper-slide-next {
  transform: scale(0.82) translateX(0%) translateY(-10%) !important; /* Slightly larger than inactive slides */
  opacity: 0.8;
}

.swiper-slide-active .slides {
  background: linear-gradient(to right, #035D9D, #03388F);
  border: none;
  & .stars {
    color: white;
  }
  & .content {
    color: white;
  }
}

.swiper-pagination-bullet:not(:nth-child(2)):not(:nth-child(3)):not(
    :nth-child(4)
  ) {
  visibility: hidden;
}

.swiper-pagination-bullet:nth-child(2),
.swiper-pagination-bullet:nth-child(3),
.swiper-pagination-bullet:nth-child(4) {
  visibility: visible;
}
@media (max-width: 768px) {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 20%;
  }
}
@media (max-width: 425px) {
  .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 30%;
  }

  .swiper-backface-hidden .swiper-slide {
    transform: translateZ(0) !important;
  }
}
