@import "tailwindcss";

:root {
  /* --background:#171717 ; */
  --foreground: #ffffff;
  --primary-blue: #035D9D;
  --royal-blue: #03388F;
  --dark-blue: #053969;
  --navy-blue: #061C48;
  --background: #101D26;
  /* Removed --accent-orange: #FB7C47; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary-blue);
  --color-royal: var(--royal-blue);
  --color-dark: var(--dark-blue);
  --color-navy: var(--navy-blue);
  /* Removed --color-accent-orange: var(--accent-orange); */
  /* --color-background-dark: var(--background-dark); */

  --font-josefin-sans: var(--font-josefin-sans);
  --font-montserrat: var(--font-montserrat);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --primary-blue: #035D9D;
    --foreground: #ffffff;
    --accent-blue: #03388F;
    --secondary-blue: #053969;
    --deep-blue: #061C48;
    --background: #101720;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-josefin-sans), var(--font-montserrat), Arial, Helvetica, sans-serif; */
}

button{
  cursor: pointer;
  outline: none;
  &:focus{
    outline: none;
  }
  &:active{
    outline: none;
  }
}




